{% extends "shop/base.html" %}

{% block content %} 
<div class="d-flex justify-content-center align-items-center vh-100"></div>
  <div class="row">
      <div class="col-md-6">
          <ul class="list-group" id="item-list">
            <h3 class="text-center navbar-brand font-weight-bold">This is your list:</h3>
          </ul>
      </div>
      <div class="col-md-6">  <!-- 12 /6 =  2 colone  -->
        <h3></h3> 
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" id="items" name="items" required>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="shop-moh" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="shop@gmail.com" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" name="city" id="city" class="form-control" id="inputCity" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Country</label>
              <select id="pays" name="pays" class="form-control" required>
                <option selected>Maroc</option>
                <option selected>Algerie</option>
                <option selected>Egypt</option>
                <option selected>Palastine</option>
                <option selected>France</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input name="zipcode" id="zipcode" type="text" class="form-control" placeholder="83000" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">The Total amount to pay: </label>
              <input name="total" id="total" type="readonly" class="bg-dark text-warning form-control" readonly >
            </div>
          </div>
          <button type="submit" id="subm" class="btn tddn btn-primary" oninput="verifier()" disabled>Order</button>
        </form>
      </div>
  </div>
  
</div>
{% endblock %}
{% block js %} 

  <script type="text/javascript">
      if (localStorage.getItem('basket') == null){
        var basket = {}
      }else{
        basket = JSON.parse(localStorage.getItem('basket'));
      }
      var total = 0;
      var number = 0;
      for (item in basket){
        let name = basket[item][1];
        let quantity = basket[item][0];
        let price = basket[item][2];
        number += quantity;
        total += price;
        let ItemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
              ${name}
              <span class="badge badge-primary badge-pill">QTE: ${quantity}</span>
              <span class="badge badge-warning badge-pill"> ${price} MAD</span>
            </li>`;

        $('#item-list').append(ItemString);
      }

      let ItemNumber = `<li class="list-group-item d-flex justify-content-between align-items-center">
              <b class="bg-danger">Price and Total Quantity</b>
              <span class="badge badge-danger badge-pill">TOTAL QTE: ${number}</span>
              <span class="badge badge-danger badge-pill">TOTAL PRICE: ${total} MAD</span>
            </li>`;
        
      $('#total').val(total+" MAD");
        
      $('#item-list').append(ItemNumber);

      $('#items').val(JSON.stringify(basket));

      $(document).on('click', '.tddn', function(){
        localStorage.clear();
      });

      function verifier(){
        var price = document.getElementById("total").value;
        console.log(price);
        var bouton = document.getElementById("subm");
        if(price === "0 MAD"){
          bouton.disabled = true;
        }else{
          bouton.disabled = false;
        }
      }
      
  </script>

{% endblock %}