{% extends "shop/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">  <!-- 12 /6 =  2 colone  --> 
        <div>
            <img src="{{ product_object.image }}" width="500px" height="500px" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-warning display-3">
            {{ product_object.title }}
        </div>
        <div class="text-danger nav-link font-weight-bold">
            {{ product_object.price }} MAD
        </div>
        <div>
            {{ product_object.description }}
        </div>
    </div>
</div>

{% endblock %}

