{% extends "shop/base.html" %}

{% block content %} 
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Enter the name of the product" name="item-name" class="form-control from-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for p in product_object %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ p.image }}" alt="" class="card-ing-top">
                <div class="card-body">
                    <div class="card-title">{{ p.title }}</div>
                    <div style="color: orange;" class="card-text" >MAD {{ p.price }}</div>
                    <button class="btn btn-warning">View</button>
                    <button class="btn btn-success">Add To basket</button>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
{% endblock %}