{% extends "shop/base.html" %}

{% block content %} 
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Enter the name of the product" name="item-name" class="form-control from-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for p in product_object %}
        <div class="col-md-2">
            <div class="card">
                <img src="{{ p.image }}" alt="" class="card-ing-top">
                <div class="card-body">
                    <div id="aa{{ p.id }}" class="card-title">{{ p.title }}</div>
                    <div id="price{{ p.id }}" style="color: orange;" class="card-text" > {{ p.price }} MAD</div>
                    <a href="{{ p.id }}" class="btn btn-warning">View</a>
                    <button id="{{ p.id }}" class="btn tdn btn-success">Add</button>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ product_object.previous_page_number }}">Previous</a>

                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>

                </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Next</a>

                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}

<script type="text/javascript">
    // checking the basket if exist or not in the local storage :

    if (localStorage.getItem('basket') == null)
    {
        var basket = {};
    }else{
        basket = JSON.parse(localStorage.getItem('basket'))
    }


    // if the user click to the bt rest your basket the localstorage is automaticlyyy cleared :
    $(document).on('click', '.moh', function(){
        localStorage.clear();
        console.log('cleared');
    });


    // the logic of the bt basket and the list to ckechout page :
    $(document).on('click', '.tdn', function(){
        console.log('add');
        var id_item = this.id.toString();
        console.log(id_item);


        if (basket[id_item] != undefined){
            quantity = basket[id_item][0] + 1;
            basket[id_item][0] = quantity ;
            basket[id_item][2] += parseFloat(document.getElementById("price"+id_item).innerHTML);
        }else{
            quantity = 1 ;
            price = parseFloat(document.getElementById("price"+id_item).innerHTML);
            name = document.getElementById("aa"+id_item).innerHTML;
            basket[id_item] = [quantity, name, price];
        };


        console.log(basket);
        localStorage.setItem('basket', JSON.stringify(basket));
        document.getElementById('basket').innerHTML = 'Basket(' + Object.keys(basket).length + ')';
        console.log(Object.keys(basket).length);
    });


    display_basket(basket);


    // function to display the basket in the list:
    function display_basket(basket){
        var panierString = "";
        var index = 1;
        panierString += "<h6>This is your list:</h6>";
        for(var x in basket){
            panierString += index + ".";
            panierString += document.getElementById("aa"+x).innerHTML +" =>Qte :" + basket[x][0] + "</br>";
            index += 1;
        }

        panierString += "<a href='/checkout' class='btn btn-primary'>Checkout</a>";


        // display the basket :
        $('[data-toggle="popover"]').popover()
        document.getElementById('basket').setAttribute('data-content', panierString);
        };
</script>
{% endblock %}